@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
  border: 0 none;
  list-style: none outside none;
  margin: 0;
  outline: 0 none;
  padding: 0;
}

body {
  font-family: 'Alfa Slab One', cursive;
  width: 100%;
}

.main {
  height: 800px;
}

nav {
  border-bottom: solid 1px rgb(225, 222, 222);
}

.navbar-text {
  color: #000;
}

a {
  color: rgb(0, 0, 0);
}

td {
  flex-basis: 260px;
  height: 60px;
  margin-right: 10px;
}

.fa.fa-trash {
  cursor: pointer;
}

.status-select-div,
.dropbtn {
  height: 40px;
  border: 1px solid rgb(225, 222, 222);
  width: fit-content;
}

#status-select {
  background-color: rgb(255, 255, 255) !important;
}

.status-select option,
.current-option {
  background-color: rgb(255, 255, 255);
}

.dropbtn {
  cursor: pointer;
  background-color: rgb(255, 255, 255);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.down-arrow {
  width: 8px;
  height: 8px;
  padding-left: 20px;
  padding-right: 10px;
}

.dropdown-content {
  display: none;
  margin-bottom: 35px;
  padding-left: 10px;
  min-width: 200px;
  box-shadow: 4px 8px 16px 4px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.show {
  display: block;
}

.navbtn,
.modal-btn {
  width: 12.5rem;
  height: 2.5rem;
  line-height: 1.688rem;
  text-align: center;
  border-radius: 14.5rem;
  background-color: rgb(12, 120, 228);
  cursor: pointer;
  margin-left: 20px;
  color: rgb(255, 255, 255);
}

.cancel-btn {
  border: 1px solid rgb(12, 120, 228);
  background-color: rgb(255, 255, 255);
  color: rgb(12, 120, 228);
}

.add-member-modal {
  top: 3%;
  background: rgb(255, 255, 255);
  position: fixed;
  height: 35.75em;
  right: 5%;
  left: 5%;
  bottom: 10%;
}

.add-member {
  background: rgb(0, 0, 0);
  mix-blend-mode: normal;
  opacity: 0.5;
}

textarea {
  border: solid 1px rgb(225, 222, 222);
  width: 100%;
  padding-left: 2%;
}

@media (max-width: 500px) {
  .main {
    min-width: 500px;
    height: 1000px;
  }

  .add-member-modal {
    min-width: 450px;
  }
}
